@model string

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Velasco Homework 7: Home</title>
</head>

<body>
    <h2>
        Welcome to my home page
    </h2>
    <h3>
        Please click a link to visit my other pages
    </h3>
</body>

</html>




