@{
    ViewBag.Title = "Web Form Demo";
}

<body>
    <h2>Welcome to my Web Form</h2>
    <h3>A demo form for hotel room reservation</h3>
    <form class="webform">
       <fieldset>
            <legend>Customer Information</legend>
            <div>
                <label for="name">Full Name: </label>
                <input required="required" type="text" name="name" placeholder="Firstname Lastname"/>
            </div>
            <div>
                <label for="email">Email address: </label>
                <input required="required" type="email" name="email" />
            </div>
            <div>
                <label for="phone">Phone: </label>
                <input required="required" type="tel" name="phone" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Room Information</legend>
            <div>
                <label for="arrivaldate">Arrival Date: </label>
                <input required="required" type="date" name="arrivaldate" />
            </div>
            <div>
                <label for="arrivaltime">Arrival Time: </label>
                <input type="time" name="arrivaltime" />
            </div>
            <div>
                <label for="roomtype">Select a room type: </label>
                <select>
                    <option value="luxury">Luxury</option>
                    <option value="standard">Standard</option>
                    <option value="economic">Economic</option>
                </select>
            </div>
            <div>
                <label for="numberofnights">Number of nights (valid number is from 1 to 30): </label>
                <input type="number" min="1" max="30" step="1" name="numberofnights" value="1" />
            </div>
            <div>
                <label for="numberofguests">Number of guests (the maximum guests is 3): </label>
                <input type="number" min="0" max="3" step="1" name="numberofguests" value="0" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Other Information</legend>
            <div>
                <label for="promo">Promo code: </label>
                <input type="text" name="promo" pattern="[a-zA-Z0-9]" title="Please only use alphanumeric characters"/>
            </div>
            <div>
                <label for="specialnote">Special Notes: </label>
                <textarea name="specialnote" cols="40" rows="5">Enter your special notes here </textarea>
            </div>
        </fieldset>
        <input type="reset" name="clear-btn" value="Clear form" />
        <input type="submit" name="submit" value="Request Reservation" />
    </form>
    <br />
</body>
